<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Albums</title>
</head>
<body>
    <h1 style="padding-left:10px">Albums</h1>
    <div class="top-border-line"></div>
    <form action="/albums/create" style="padding-left:10px">
        <button type="submit" class="btn btn-success offset-md-0 col-md-1">Create Album</button>
    </form>
    <div class="top-border-line"></div>
    <div style="padding-left:10px">{{albumsList}}</div>
    <hr />
</body>
</html>