<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Create Album</title>
    <link rel="stylesheet" href="site.css" type="text/css" />
</head>
<body>
    <div class="row">
        <div class="jumbotron-login-register col-md-6">
            <h2 style="text-align:center">Create Album</h2>
            <div class="jumbotron-line-login-register"></div>

            <form method="post" action="/albums/create" class="register-login-form">
                <label for="name">Name</label>
                <div><input class="form-control" type="text" name="name" placeholder="Name..." /></div>
                <br />
                <label for="cover">Cover</label>
                <div><input class="form-control" type="text" name="cover" placeholder="Cover..." /></div>
                <br />
                <div class="jumbotron-line-login-register"></div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-success offset-md-3 col-md-3">Create</button>
                    </div>
                    <div class="col">
                        <a class="btn btn-success offset-md-4 col-md-4" href="/albums/all">Back To All</a>
                    </div>
                </div>
               
            </form>

        </div>
    </div>
</body>
</html>