<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />

    <title>My Profile</title>
</head>
<body>
    <div class="card col-lg-6 offset-3">
        <div class="card-body">
            <h4>My profile</h4>
            <h5 class="card-text">Username: {{username}}</h5>
            <p class="card-text">Email: {{email}}</p>
            <p class="card-text">Registration Date: {{registrationDate}} (GMT)</p>
            <p class="card-text">Last Login: {{lastLogin}} (GMT)</p>
            <a href="/" class="btn btn-success">Back to home</a>
        </div>
    </div>
</body>
</html>