<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Index</title>
</head>
<body>
    <h1>Cakes</h1>
    <p>Enjoy our awesome cakes</p>
    <br />
    <p> Click bellow to login your account!</p>
    <form method="get" action="/login">
        <input type="submit" value="Login">
    </form>
    <br />
    <p> Don't have an account?</p>
    <form method="get" action="/register">
        <input type="submit" value="Register">
    </form>
</body>
</html>
