<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Details</title>
</head>
<body>
    <h4 class="card-title" style="text-align:center">Track Name: {{trackName}}</h4>
    <h4 class="card-title" style="text-align:center">Track Price: ${{trackPrice}}</h4>

    <div class="row">
        <div class="col offset-md-3 col-md-6">
            <div class="jumbotron-line-login-register"></div>
            <iframe width="940" height="720" src="{{trackLink}}"></iframe>
            <div class="jumbotron-line-login-register"></div>
            <br />
            <div class="col">
                <a class="btn btn-success offset-md-5 col-md-2" style="align-content:center" href="/albums/details?id={{albumId}}">Back To Album</a>
            </div>
        </div>
    </div>
    <br />
</body>
</html>